.zone {
    margin: auto;
    border: 2px black solid;
    width: 600px;
    height: 600px;
    position: relative;
}
.ducks {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
}
button {
    margin: auto;
    padding: 3rem;
    margin-left: 2rem;
}
body {
    display: inline-block;
}
p {
    margin: auto;
    border: 1px black solid;
    border-radius: 10px;
    padding: 2rem;
    width: 20%;

}